@charset "utf-8";

*{padding: 0;margin: 0;box-sizing: border-box;}
.container{max-width: 940px; display: block; margin: 0 auto -80px auto;font-family: Verdana, Geneva, Tahoma, sans-serif; padding: 25px 0 0 0;}
body{background-color: #eef0f7;}
textarea{ border-radius: 25px;box-shadow: 0px 0px 20px 8px #0000003d;padding: 25px;margin: 10px auto;border: 0;min-height: 250px;max-width: 100%;display: block;}

ul{list-style: none;}

.font1{font-size: 37px;font-weight: 700;margin: 4px auto 10px auto;display: inline-block;color: white;}
.font2{font-size: 14px;font-weight: 100;color: white;}
.font3{font-size: 16px;font-weight: 700;color: rgb(0, 0, 0); border-left: 4px solid #0099FF;padding-left: 5px;line-height: 1.5rem;}

main{text-align: center;height: 100vh;}
main div{max-width: 550px; margin: auto;display: flex;gap: 10px;flex-direction: column;}

#input, #result{width: 100%;padding: 15px 20px;border-radius: 25px;color: rgb(0, 0, 0);font-size: 17px;border: 0;box-shadow: 0px 0px 15px 5px #0000002e;}

button {padding: 15px 50px;border-radius: 50px;background-color: #0088E2;color: white;font-size: 17px;border: 0;box-shadow: 0px 0px 15px 5px #0000002e;}

h1{margin: 25px;}
h2{margin: 25px 25px 50px 25px;}



footer{background-color: #eef0f7;text-align: center;box-shadow: 1px 20px 20px 20px #00000038;position: relative;padding: 30px;z-index: -1;font-family: arial;}
footer a{white-space: nowrap;}

a, a:visited {text-decoration: double;font-weight: 700; color: #0099FF;}

@media (max-width: 920px) {
    main div {padding: 0 25px;}
    h2 {padding: 25px;}
}